*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hambutger-menu input {
  content: "";
  width: var(--var-widht);
  height: var(--bar-heigt);
  background-color: white;
  border-radius: 9999px;
}
.humberger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
}
