label {
  cursor: pointer;
  display: inline-block;
  height: 46px;
  width: 70px;
  position: absolute;
  top: 50px;
  right: 30px;
}

input {
  display: none;
}

.serch-bar {
  width: 1536px;
  height: 15vh;
  background-color: #006400;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-1536px);
  transition: transform 0.5s;
  display: none;
}

.serch-bar {
  display: block;
}

input[type="checkbox"]:checked + .serch-bar {
  transform: translateY(0);
}

.serch-bar h2 {
  color: white;
  padding: 20px;
  position: relative;
  background-color: white;
}

.serch-bar h2 label {
  position: absolute;
  right: 20px;
  top: -10px;
  cursor: pointer;
  font-size: 30px;
  text-align: right;
}

.serch-bar h2 label::after {
  content: "\2715";
  color: black;
}
