* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
}

@font-face {
  font-family: sen1;
  font-family: sen;
  src: url(../font/tryst-font.zip);
  src: url(../font/Sen-wZy2.otf);
}

.top {
  background-color: black;
  font-family: sen;
  color: white;
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
}

.top-bar {
  width: 100%;
  height: 80px;
  position: relative;
}

.logo-first {
  padding-top: 10px;
  align-items: center;
  padding-left: 240px;
}

.search-cart ul li {
  float: right;
}

@media only screen and (min-width: 900px) {
  .logo-first {
    display: none;
  }
}

.logo {
  padding-left: 35px;
  padding-top: 20px;
}

@media only screen and (max-width: 900px) {
  .logo {
    justify-content: center;
  }
}

.first a {
  padding-top: 25px;
  font-family: sen;
  font-size: 4px;
}

.top-menu ul {
  list-style: none;
  position: relative;
  /* padding-top: 10px; */
  padding-right: 67px;
}

.top-menu ul li {
  display: inline-block;
}

.top-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 2vw;
}

.first:hover {
  text-decoration: underline;
}

.fa-search {
  float: right;
  cursor: pointer;
  padding: 30px 5px;
}

.fa-shopping-cart {
  float: right;
  cursor: pointer;
  padding: 30px 5px;
}
@media screen and (max-width: 600px) {
  li {
    float: none;
    width: 100%;
  }

  .search-icon,
  .cart-icon {
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .top-menu {
    display: none;
    max-width: 100%;
  }
}

.burger {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  gap: none;
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

@media only screen and (min-width: 900px) {
  .burger {
    display: none;
  }
}

------------- .toggle label {
  cursor: pointer;
  height: 60px;
  width: 70px;
  position: absolute;
  top: 12px;
  left: 30px;
}

@media only screen and (min-width: 900px) {
  label {
    display: none;
  }
}

input {
  display: none;
}

.menu {
  width: 300px;
  height: 100vh;
  background-color: white;
  border-right: 2px solid black;
  position: absolute;
  top: 122px;
  left: 0;
  transform: translateX(-300px);
  transition: transform 0.5s cubic-bezier(0.61, -0.61, 0.33, 1.6);
  display: none;
}

.menu label::after {
  content: "\2716";
}

.menu-label ul li a i {
  float: right;
  padding-right: 15px;
}

.menu ul:hover {
  background-color: rgb(255, 255, 255);
}

@media only screen and (min-width: 700px) {
  .menu {
    display: block;
  }
}

input[type="checkbox"]:checked + .menu {
  transform: translateX(0);
}

input[type="checkbox"]:checked + .burger {
  display: none;
}

.menu label {
  position: relative;
  right: 100px;
  top: -5px;
  cursor: pointer;
  font-size: 20px;
  text-align: right;
}

.menu label::after {
  content: "\2716";
}

.menu ul {
  padding-left: 25px;
  margin-bottom: 25px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menu ul li ul li {
  border-bottom: none;
}

.menu ul li ul li a {
  font-size: 8px;
}

.esss {
  background-image: url(../img/first.jpg);
  border: 2px solid black;
  background-size: cover;
  width: 45vw;
  height: 45vw;
}

.sip {
  font-family: sen;
  letter-spacing: 1px;
  font-size: 4rem;
  padding-top: 13vw;
}

.sip1 {
  letter-spacing: 1px;
  font-family: sen;
  padding-bottom: 1vw;
  font-size: 1rem;
}

.bn590 {
  background-color: #141414;
  border: 2px solid rgba(54, 54, 54, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-family: sen1;
  letter-spacing: 2px;
}

button {
  border: none;
}

.text {
  border: 2px solid black;
  text-align: center;
  justify-content: center;
  width: 45vw;
  height: 45vw;
}

.text-image {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .text-image {
    flex-direction: column;
  }
  .text {
    width: 85vw;
    height: 35vw;
  }
  .sip {
    padding: 0;
  }
  .esss {
    width: 85vw;
    height: 65vw;
  }
  .container1 {
    height: 850px;
  }
}

.tittle {
  font-family: sen;
  letter-spacing: 1px;
  padding-left: 65px;
  padding-top: 20px;
  display: flex;
  flex-grow: 1;
}

.tag {
  font-family: sen;
  font-size: 1rem;
}

.tag:hover {
  text-decoration: underline;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.container2 a {
  text-decoration: none;
}

.container2 img {
  max-height: 30vw;
  min-width: 23vw;
  object-fit: contain;
  cursor: pointer;
  padding: 0 15px;
  transition: 1s;
}

.container2 img:hover {
  transform: scale(1.1);
}

.container2 h3 {
  text-align: center;
}

.container4 img {
  width: 89vw;
  height: 30vw;
  object-fit: contain;
  object-fit: cover;
}

.container4 {
  display: flex;
  padding: 0 65px 0 65px;
  object-fit: contain;
  object-fit: cover;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
}

.over-image {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-25% -35%);
  font-size: 3vw;
}

.colection {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0 100px 0;
  justify-content: center;
  overflow: hidden;
}

.colect {
  font-family: sen;
  font-size: 1.5rem;
}

.colection a {
  text-decoration: none;
}

.colection img {
  width: 30vw;
  height: 33vw;
  padding: 0 10px;
  cursor: pointer;
  transition: 1s;
}

.colection img:hover {
  transform: scale(1.02);
}

a h2 {
  text-decoration: none;
  text-align: center;
  text-decoration-line: none;
}

.text1 {
  width: 55vw;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
}

.text-image1 {
  display: flex;
  flex-wrap: wrap;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}

.yel {
  max-width: 45vw;
  margin: 0 auto;
  border: 2px solid black;
}

.yel img {
  width: 100%;
  height: auto;
  display: block;
}

.spicy {
  font-family: sen;
  letter-spacing: 1px;
  font-size: 3rem;
  padding-top: 20px;
  padding-left: 30px;
}

.jane {
  font-family: sen;
  letter-spacing: 1px;
  padding-left: 20px;
  font-size: 1rem;
}

.order-img {
  background-image: url(../img/order.jpg.webp);
  border: 2px solid black;
  background-size: cover;
  width: 45vw;
  height: 45vw;
}

.order-text {
  padding-left: 50px;
  padding-bottom: 20px;
  width: 45vw;
  height: 45vw;
  font-family: sen;
  letter-spacing: 1px;
}

.ginger {
  font-family: sen;
  font-size: 3.5rem;
}

.cost,
.view {
  font-family: sen;
  font-size: 1rem;
}

.view {
  cursor: pointer;
}

.view:hover {
  text-decoration: underline;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.bn59 {
  font-family: sen;
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 100px;
  opacity: 1;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.bn60 {
  font-family: sen;
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 110px;
  opacity: 1;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.bn61 {
  font-family: sen;
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 120px;
  opacity: 1;
  color: white;
  text-decoration: none;
}

.bn14 {
  font-family: sen;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: black;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 1px solid black;
  width: 35vw;
}

.bn14:hover {
  border: 3px solid black;
}

.bn15:hover {
  border: 3px solid black;
}

.bn15 {
  font-family: sen;
  font-weight: bold;
  background-color: black;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 1px solid black;
  width: 35vw;
}

.order {
  display: flex;
  flex-wrap: wrap;
}

.container5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}

.empty {
  background-image: url(../img/empty.jpg.webp);
  border: 2px solid black;
  background-size: cover;
  width: 30vw;
  height: 30vw;
}

.gallery-text {
  border: 2px solid black;
  justify-content: center;
  max-width: 29vw;
  max-height: 30vw;
  margin: 0 15px 0 15px;
}

.three {
  font-family: sen;
  padding: 15px 15px 0 15px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  width: 100%;
  transform: translateY(0);
}

/* @media only screen and (max-width: 935px) {
  .container6 {
    flex-wrap: wrap;
  }
} */

.two-bottle {
  background-image: url(../img/bag.jpg.webp);
  border: 2px solid black;
  background-size: cover;
  width: 30vw;
  height: 30vw;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.container6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}

.keep {
  font-family: sen;
  letter-spacing: 1px;
  padding-left: 65px;
  padding-bottom: 20px;
}

.save {
  font-family: sen;
  letter-spacing: 1px;
  padding-left: 65px;
}

.test {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 50px 0;
  justify-content: center;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.test img {
  width: 22.5vw;
  height: 30vw;
  padding: 0 15px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
}

.test img:hover {
  transform: scale(1.02);
}

.last {
  font-family: sen;
  font-size: 1rem;
}

.last:hover {
  text-decoration: underline;
}

.test a {
  text-decoration: none;
  text-align: center;
}

footer {
  height: 35vw;
  background-color: rgb(8, 8, 18);
}

.footer {
  padding: 0;
  color: white;
  border-bottom: 1px solid rgb(44, 43, 43);
  height: 28vw;
}

.footer0 {
  display: flex;
  flex-wrap: wrap;
}

.links {
  padding-right: 25vw;
  padding-top: 2vw;
  padding-left: 7vw;
}

.quick-links {
  font-family: sen;
  font-size: 2rem;
}

.footer-list li {
  font-family: sen;
  color: rgb(183, 178, 178);
  padding-bottom: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.mision {
  padding-right: 30vw;
  padding-top: 2vw;
}

.mision-h {
  font-family: sen;
  font-size: 2rem;
}

.mision-text {
  font-family: sen;
  padding-bottom: 5vw;
  font-size: 1.25rem;
  color: rgb(183, 178, 178);
}

.footer-logo {
  padding-top: 3.5vw;
}

.emails {
  padding-left: 7vw;
}

.emails-text {
  font-family: sen;
  font-size: 2rem;
}

.container7 {
  max-width: 30vw;
  height: 3vw;
  border: 1px solid ghostwhite;
}

.copy p {
  font-family: sen;
  color: rgb(183, 178, 178);
  text-align: center;
  font-size: 0.8rem;
  padding-top: 50px;
}
