$blue: #8d94ba;
$violet: #b38cb4;
$yellow: #f8f272;
$red: #b6244f;
$green: #60ab9a;
$wine: #823038;
$orange: #FCAB64;
$aquamarine: #A1FCDF;
$plum: #7D387D;
$mint: #BDEDE0;

$f1: 'Montserrat', sans-serif;
$f2: 'Anonymous Pro', monospace;