* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(./img5.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 60vh;
    width: 550px;
    background-color: rgb(55, 24, 93);
    border: 1px solid rgb(55, 24, 93);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgb(55, 24, 93);
    overflow: hidden;
}

#display {
    height: 10vh;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 10vh;
}

.box form {
    height: 35vh;
    width: 100%;
    background-color:rgb(55, 24, 93);
    line-height: 45vh;
    text-align: center;
    font-family: monospace;
}

.box form input {
    width: 130px;
    outline: none;
    border-bottom: 3px solid;
    color: white;
    background-color: transparent;
    font-size: 60px;
    text-align: center;
}

.box form input::placeholder {
    font-size: 20px;
    color: white;
    font-size: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timer-part {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.box .buttons {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.box .buttons button {
    padding: 5px 10px;
    font-size: 25px;
    background-color: #67597A;
    color: white;
    border-radius: 5px; 
    border: none;
    box-shadow: 2px 2px 10px 2px  #67597A;
    cursor: pointer;
}

.box .buttons button:hover {
    background-color: #675980;
}

.pulse {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(2);
	animation: pulse 1s infinite; 
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}